<div class="container mt-0 mx-0 px-0 col-12">
    <div class="jumbotron jumbotron-fluid my-0" id="home">
        <%= image_tag("4.jpg", class: 'w-100 img-fluid', id: "move-img", alt: "Active man home image") %>
    </div>
</div>
