<div class="container my-0 mx-0 px-0">
    <%= render 'header'%>

    <div class="container">

        <div class="row">

            <div class="card m-5 col-6" id="home-card">
                <%= image_tag("2.jpg", class: "img-fluid card-img-top", id: "home-card-img", alt: "Active woman") %>
                <div class="card-body text-align-center">
                    <h5 class="card-title">Keep track of your activity</h5>
                    <% if user_signed_in? %>
                        <%= link_to "Go to your activity log", activities_path, class: "btn btn-primary" %>
                    <% else %>
                        <%= button_tag "Start logging your activity", :onclick => "login()", class: "btn btn-primary", %>
                </div>
            </div>

        </div>

    </div>

</div>


