<div class="container my-5">
<div class="jumbotron jumbotron-fluid display-2" id="act-new-jumbo">Add Activity</div>
<div class="container py-5">
    <%= render 'form', activity: @activity %>

    <%= link_to 'Back', activities_path, class: "btn btn-outline-info", id: "lnk-theme" %>
</div>